In [1]:
import random

In [7]:
random.randrange(5,19)

12

In [8]:
names = ['Ann', 'Bob', 'Cal', 'Dee', 'Eve', 'Flo', 'Hal', 'Ike']

In [9]:
random.shuffle(names)

In [10]:
names

['Ann', 'Flo', 'Bob', 'Hal', 'Cal', 'Dee', 'Eve', 'Ike']

In [15]:
random.sample(names,3 )

['Hal', 'Cal', 'Bob']

In [20]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
squares = [x**2 for x in range(10) if x > 4]
squares

[25, 36, 49, 64, 81]

In [29]:
squares = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
squares

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [30]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [4]:
gum = sum([i for i in range(1,101) if i%2==0])
gum

2550

In [9]:
raise ZeroDivisionError

ZeroDivisionError:

In [11]:
def f(num):
    return [i for i in range(1 , num+1) if num%i == 0]
f(60)

[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60]

In [12]:
l = [[1,9], [5,8]]

In [13]:
l[1][1]

8

In [15]:
employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']
}

In [16]:
type(employee)

dict

In [17]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': ['Arm', 'Spartyan'],
 '987-65': ['Vlad', 'Tundyan']}

In [19]:
employee ["864-20"]

['Arm', 'Spartyan']

In [20]:
e = dict()

In [21]:
type(e)

dict

In [22]:
days = {'Mo':1, 'Tu':2, 'W':3}

days2 = {'Tu':2, 'Fr':5}

In [23]:
"Mo" in days

True

In [25]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [29]:
x = "to be or not to be"
freq = [i for i in x if i in x]
freq

['t',
 'o',
 ' ',
 'b',
 'e',
 ' ',
 'o',
 'r',
 ' ',
 'n',
 'o',
 't',
 ' ',
 't',
 'o',
 ' ',
 'b',
 'e']

In [28]:
t = [('a', 10), ('c', 22), ('b', 1)]

In [30]:
sorted(t)

[('a', 10), ('b', 1), ('c', 22)]

In [31]:
p = {4,72,534,3,56}

In [32]:
p

{3, 4, 56, 72, 534}

In [33]:
type(p)

set